
@{
    ViewData["Title"] = "HttpError";
}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Sorry <strong>not found</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span class="divider">/</span></li>
                    <li class="active">404</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="centered">
                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1586824891/Categories/page-not-found-5-530376_zjbwdk.webp"/>
                    <h3>Sorry, that page doesn't exist!</h3>
                    <p>
                        The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
