@using ProjectCluster.Common
@model ProjectCluster.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<section id="intro">

    <div class="container">

        <div class="row">
            <div class="span6">
                <h2><strong>&nbsp Join the <span class="highlight primary">ProjectCluster</span></strong></h2>
                <p class="lead">
                    &nbsp&nbsp The place to show the world your ideas.
                </p>
                <ul class="list list-ok strong bigger">
                    <li>Share your projects</li>
                    <li>View and rate other peoples' projects</li>
                    <li>Get inspired</li>
                </ul>

            </div>
            <div class="span6">

                <div class="group section-wrap upper" id="upper">
                    <div class="section-2 group">
                        <ul id="images" class="rs-slider">
                            <li class="group">
                                <a href="#">
                                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/c_fill,h_500,w_800/v1584964405/FrontBanner/blueprintFrontPage_taknup.jpg" alt="" />
                                </a>
                            </li>
                            <li class="group">
                                <a href="#" class="slide-parent">
                                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/c_fill,h_500,w_800/v1587602373/camera-event-live-settings-66134_ucudyu.jpg" alt="" />
                                </a>
                            </li>
                            <li class="group">
                                <a href="#" class="slide-parent">
                                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/c_fill,h_500,w_800/v1587602587/person-holding-blue-ballpoint-pen-writing-in-notebook-210661_qwbgzi.jpg" alt="" />
                                </a>
                            </li>
                            <li class="group">
                                <a href="#" class="slide-parent">
                                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/c_fill,h_500,w_800/v1587598797/brown-wooden-planks-889839_mjfezt.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="row">
    <ul class="portfolio-area da-thumbs">
        @foreach (var category in Model.Categories)
        {
            <li class="portfolio-item" data-id="id-0" data-type="web">
                <div class="span3">
                    <div class="thumbnail">
                        <div class="image-wrapp">
                            <img src=@category.ImageUrl alt=@category.Name title=""/>
                            <article class="da-animate da-slideFromRight">
                                <a href=@category.CategoryUrl>
                                    <i class="icon-bg-light @category.IconName icon-circled icon-2x"></i>
                                </a>
                            </article>
                        </div>
                        <div class="desc">
                            <h5><strong>@category.Name</strong></h5>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
